<!-- 
  File: footer.njk
  Description: footer of the site.
  Author: Sai Trivedi
  Date: 2025-10-02
-->

<footer>
  <div class="container">
    <p>&copy; 2025 {{ site.title }} | {{ site.author }}</p>
  </div>
</footer>