<!-- 
  File: header.njk
  Description: header of the site.
  Author: Sai Trivedi
  Date: 2025-10-02
-->

<header>
  <nav class="container">
    <a href="/" class="logo">{{ site.title }}</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/all-movies/">All Movies</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </nav>
</header>